version: "2"
services:
  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - "MINIO_ROOT_USER=minioadmin"
      - "MINIO_ROOT_PASSWORD=minioadmin"
    command: server /data --console-address ":9001"

  awscli:
    image: amazon/aws-cli
    depends_on:
      - minio
    environment:
      AWS_ACCESS_KEY_ID: minioadmin
      AWS_SECRET_ACCESS_KEY: minioadmin
    entrypoint: >
      /bin/sh -c "
        echo 'Waiting for MinIO...';
        until aws --endpoint-url http://minio:9000 s3 ls > /dev/null 2>&1; do
          echo 'Still waiting...';
          sleep 2;
        done;

        echo 'Creating bucket...';
        aws --endpoint-url http://minio:9000 s3api create-bucket --bucket my-bucket --region us-east-1;

        echo 'Done.';
        exit 0;
      "